form {
  text-align: center;
  border: solid #ffc8dd 1px;
  border-radius: 30px;
  font-weight: 700;
  padding: 15px 0;
}
input {
  background-color: #ffc8dd;
  color: #b591ca;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
}
h1 {
  font-size: 26px;
}
h2 {
  display: inline;
  font-weight: 800;
}
body {
  background-color: #b591ca;
}
ul {
  list-style: none;
  text-align: right;
}
li {
  font-size: 16px;
}
p {
  text-align: center;
  font-size: 13px;
}
img {
  position: relative;
  left: 25px;
  bottom: 20px;
  width: 110px;
}
.weather-app {
  max-width: 400px;
  display: block;
  margin: 50px auto;
  border: double #ffc8dd;
  border-radius: 50px;
  border-width: 10px;
  padding: 20px;
  background-color: #ffafcc;
  color: #b591ca;
  font-family: "Courier New", Courier, monospace;
}
.currentForecast {
  border: solid #ffc8dd 1px;
  border-radius: 30px;
  margin: 20px auto 0;
  padding: 20px;
}
.firstCol {
  padding-top: 10px;
}
.secondCol {
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 50px;
}
.place {
  font-weight: 700;
  text-align: center;
}
.day {
  font-size: 15px;
  text-align: center;
  margin-bottom: 25px;
}
.time {
  font-size: 20px;
  margin-top: 30;
}
.currentTemp {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}
.units {
  font-size: 12px;
}
.weatherDetails {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  text-transform: capitalize;
}
::placeholder {
  color: #b591ca;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: #b591ca solid 0.1px;
}
.units {
  text-decoration: none;
  color: aliceblue;
}
.units:hover {
  color: #b591ca;
}
